body {
    /* font-family: Arial, sans-serif;
    line-height: 1.6; */
}

.contain{
	margin-left: 250px;
}

.post-details, .comment, .reply, .reply-form{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-details h1, .post-details .author, .post-details .date {
    margin: 0;
    padding: 5px;
}

.comment {
    background-color: #f9f9f9;
}

.reply {
    background-color: #e9e9e9;
    margin-left: 20px;
}

.comment-text {
    font-size: 1.1em;
}

.comment-info {
    font-size: 0.8em;
    color: #777;
}

.submitComment {
    position: absolute; /* submitComment 버튼에 대해 절대 위치 설정 */
    top: 0;
    right: 0;
    margin-right: 5px; /* 오른쪽 여백 설정 */
    width: auto;
}

.reply-form {
	position: relative;
}

#comment-text {
	width: 80%;
	border: none;
}

.comment-form {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#new-comment-text {
    width: 100%;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitComment {
    width: auto;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}