

.content {
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
}

.left, .right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.board {
    width: 100%;
    border-collapse: collapse;
}

.board th, .board td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.left > h2 , .right > h2 {
	margin: 0 0 15px 0;
}